@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash";
  src: url("/fonts/ClashDisplay-Variable.ttf");
  font-display: swap;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro-VariableFont_wght.ttf");
  font-display: swap;
}

@layer components{
  body{
    background-color: #f3aa4e;
  }
}